<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="t1" class="com.amsidh.mvc.dto.Triangle" scope="singleton">
	   <property name="type" value="T1"></property>
	</bean>
    
    
</beans>
